body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: rgb(233, 233, 233);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 4rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

button {
    border-radius: 0px 15px 15px 0px;
    width: 5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}

.input {
    border-radius: 15px 0px 0px 15px;
    width: 15rem;
    height: 2.3rem;
    border: none;
}

.del {
    border-radius: 15px 0px 0px 15px;
    border-right: 2px solid #000000;
    background-color: salmon;
}

.up {
    border: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 2px solid black;
    background-color: lightgreen;

}

.down {
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: rgb(80, 151, 175);
}

.added {
    background-color: rgb(117, 213, 131) !important;
}

.del:hover {
    background-color: red;
    color: white;
    transition: linear 0.3s;
    transform: scale(1.1);
}

.up:hover{
    background-color: green;
    color: white;
    transition: linear 0.3s;
    transform: scale(1.1);
}

.down:hover{
    background-color: blue;
    color: white;
    transition: linear 0.3s;
    transform: scale(1.1);
}

.added:hover{
    background-color: rgb(96, 171, 53) !important;
    color: white;
    transition: linear 0.3s;
    transform: scale(1.1);
}

